@model Onkruid.Web.ViewModels.OnkruidViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Onkruid families</h1>

<select asp-for="SelectedFamilie"
        asp-items="@Model.Families">
    <option>*** Kies een familie ***</option>
</select>

